# dependencies
node_modules/

# next.js
.next/
out/

# build
dist/
build/

# misc
.DS_Store
Thumbs.db
*.tmp
*.swp

# env
.env*
!.env.example

# debug
*.log

# IDE
.vscode/
.idea/

# typescript
*.tsbuildinfo
next-env.d.ts
